body {
  font-family: "Open Sans", sans-serif;
  padding: 15px;
  background-color: #fefefe;
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  margin: 0px;
  font-size: 35px;
}
#crd{
  margin: 0px;
  font-size: 12px
}
h3 {
  margin: 0px;
  font-size: 20px;
}
h4 {
  margin: 5px 0px;
  font-size: 15px;
}
.rating {
  display: flex;
  align-items: center;
}
#score{
  font-weight: bold;
  margin: 0px;
  margin-right: 10px;
  font-size: 20px;
}
.stars{
  font-size: 16px;
}
#star1, #star2, #star3, #star4{
  color: gold;
}
#star5{
  color: lightgrey
}
.award {
  height: 100px;
  width: 100px;
}
.address{
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  padding: 0px 15px;
  margin: 0px;
}
.firm-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
  font-size: 13px;
}
a {
  font-size: 13px;
  text-decoration: none;
  color: black
}
.description-text {
  border-left: 1px solid grey;
  border-right: none;
  padding: 5px 20px;
  font-size: 15px;
}
.assets, .clients, .advisors{
  background-color: rgb(243, 243, 243);
  padding: 5px 10px;
  margin: 10px 0px;
  font-size: large;
  box-shadow: 5px 5px 5px lightgrey;
}
#digital{
  margin-top: 10px;
  border-bottom: 1px solid grey;

}
#premium{
  margin-top: 10px;
  border-bottom: 1px solid grey;
}
.star-rating{
  font-size: 22px;
  color: lightgrey;
  margin: 5px 0px;
}
#rate1:hover, #rate2:hover, #rate3:hover, #rate4:hover, #rate5:hover{
  color: gold;
}
form{
  display: flex;
  flex-direction: column;
}
textarea{
  width: 85vw;
  padding: 5px;
}
table, th, td{
  border: 1px solid lightgrey;
  padding: 7px;
  border-collapse: collapse;
}
thead{
  background-color: lightgray;
  margin: 0px
}
#line2{
  background-color: lightgray;
}
ul{
  padding: 0px;
  margin: 17px
}
@media only screen and (min-width: 768px){
.profile-header{
  display: flex;
  justify-content: flex-start;
}
  h1{
  font-size: 40px;
}
#crd{
  font-size: 16px;
}
#score{
  font-size: 25px;
}
.stars{
  font-size: 25px;
  margin: 5px 0px;
}
.award{
  height: 150px;
  width: 150px;
  margin-left: 50px;
}
.firm-info{
  font-size: 16px;
  justify-content: flex-start;
}
.website, .phone{
  font-size: 16px;
  padding: 0px 15px;
}
}