body {
  font-family: "Open Sans", sans-serif;
  padding: 15px;
  background-color: #fefefe;
}
.profile-header {
  display: flex;
  align-items: center;
}
.rating {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#star1, #star2, #star3, #star4, #star5{
  font-size: large;
}
#star1, #star2, #star3, #star4{
  color: gold;
}
#star5{
  color: lightgrey
}
#score{
  font-size: 25px;
  margin: 0px;
  font-weight: bold;
}
.title{
  margin: 20px 30px
}
.award {
  height: 125px;
  width: 125px;
}
h1 {
  margin: 3px 0px;
}
h3 {
  margin: 0px;
}
h4 {
  margin: 5px 0px;
}
.phone,
.website {
  padding: 15px 15px;
  margin: 0px;
}
.address{
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  padding: 5px 15px;
  margin: 0px;
}
.firm-info {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
a {
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  color: black
}
.description-text {
  border-left: 2px solid grey;
  border-right: none;
  padding: 5px 20px;
  font-size: 17px;
}
.assets, .clients, .advisors{
  background-color: rgb(243, 243, 243);
  padding: 5px 10px;
  margin: 10px 0px;
  font-size: large;
  box-shadow: 5px 5px 5px lightgrey;
}
#digital{
  margin-top: 10px;
  text-decoration: underline;
}
#premium{
  margin-top: 10px;
  text-decoration: underline;
}


